@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;800&display=swap');

:root {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: auto;
}

.logo {
  height: 6.2em;
  padding: 1em;
  filter: drop-shadow(0 0 2em #646cffaa);
}

.footer {
  /* background-color: #1a1a1a; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  color: #c9c9c9;
  position:fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  /* height: 60px; */
  /* line-height: 60px; */
  /* padding: 1em; */
  padding-top: 1em;
  padding-bottom: 1em;
  margin: auto;
  backdrop-filter: blur(2px) brightness(0.4);
}

a {
  font-weight: 600;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* div > a {
  all: unset;
}

div > a:hover {
  all: unset;
} */

body {
  place-items: center;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

h1 {
  font-weight: 800;
  font-size: 3.2em;
  line-height: 1;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

/* h3 {
  border: 0px;
} */

h2 {
  color: #535bf2;
}

.card, .btn-grp {
  background-color: #202020;
  border-radius: 8px;
  padding: 0.5em 0em 0.5em 0em;
  /* color: #535bf2; */
  width:50%;
  min-width:350px;
  margin: 0.5em auto;
  margin-bottom: 1em;
}

.card:last-child {
  margin-bottom: 5em;
}

#app {
  /* max-width: 1280px;
  margin: 0 auto;*/
  /* padding: 2rem; */
  text-align: center;
}

input, button {
  /* box-shadow: -1px -1px 2px #000000; */
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: center;
  width:50%;
  min-width:350px;
  margin: 1em auto;
  padding: 1em;
}

button {
  transition: transform 0.08s ease-out, border-color 0.25s;
  min-width: 0px;
  margin: 0 0 1em 0;
}

input:hover, button:hover {
  border-color: #646cff;
}

button:active {
  background-color: #535bf2;
  /* box-shadow: 0 5px #202020; */
  transform: scale(0.85);
}

.btn-grp {
  padding: 0;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  background-color: transparent;
  /* justify-content: space-between;
  row-gap: 0px;
  flex-wrap: wrap;
  align-items: center; */
}

/* .btn-grp > button { */
  /* transition: transform 0.08s ease-out, border-color 0.25s; */
  /* width: 49%; */
  /* min-width: 0px; */
  /* margin: 0 0 1em 0; */
  /* box-shadow: none; */
/* } */

svg.waves {
  display: none
}

@media screen {
  svg.waves {
    top: 5.5em;
    display: block;
    filter: drop-shadow(0 0 10px #5393f2);
    left: 0;
    overflow-x: hidden;
    position:fixed;
    z-index: -100;
  }

  svg.waves path {
      fill: none;
      stroke-width: 0.75em;
      stroke: #535bf2
  }
}

.glow {
  color: whitesmoke;
  text-shadow:
      0 0 7px rgb(145, 173, 173),
      0 0 10px rgb(145, 173, 173),
      0 0 21px rgb(145, 173, 173),
      0 0 42px rgb(0, 195, 255),
      0 0 82px rgb(0, 195, 255),
      0 0 92px rgb(0, 195, 255),
      0 0 102px rgb(0, 195, 255),
      0 0 151px rgb(0, 195, 255);
}